<table class="table table-bordered table-hover dataTable" id="tblImport">
    <!--START HEADER TABLE-->
    <thead>
        <tr class="bg-custom-primary">
            <th width="15%">
                <%= __('Mã nhập hàng') %>
            </th>
            <th width="15%">
                <%= __('Nhập ngày') %>
            </th>
            <th width="20%">
                <%= __('Người nhập') %>
            </th>
            <th width="20%">
                <%= __('Nhà cung cấp') %> 
            </th>
            <th width="20%">
                <%= __('Ghi chú') %> 
            </th>
            <th width="10%">
                <%= __('') %>
            </th>
        </tr>
    </thead>
    <!--END HEADER TABLE-->
</table>