<table class="table table-bordered table-hover dataTable" id="tblSupplier">
    <!--START HEADER TABLE-->
    <thead>
        <tr class="bg-custom-primary">
        <th width="20%">
            <%= __('Tên') %>
        </th>
        <th width="20%">
            <%= __('Email') %>
        </th>
        <th width="20%">
            <%= __('Số điện thoại') %> 
        </th>
        <th width="35%">
            <%= __('Địa chỉ') %> 
        </th>
        <th width="5%">
            <%= __('') %>
        </th>
        </tr>
    </thead>
    <!--END HEADER TABLE-->
</table>