<table class="table table-bordered table-hover dataTable" id="tblProduct">
        <!--START HEADER TABLE-->
        <thead>
            <tr class="bg-custom-primary">
            <th width="5%">
                <input id="js-check-all" class="js-checkbox-all checkbox" type="checkbox">
            </th>
            <th width="5%">
                <%= __('Mã SP') %>
            </th>
            <th width="20%">
                <%= __('Tiêu đề') %>
            </th>
            <th width="5%">
                <%= __('Số lượng') %>
            </th>
            <th width="10%">
                <%= __('Giá nhập') %>
            </th>
            <th width="10%">
                <%= __('Giá bán') %>
            </th>
            <th width="10%">
                <%= __('Loại SP') %>
            </th>
            <th width="10%">
                <%= __('Thương hiệu') %>
            </th>
            <th width="15%">
                <%= __('Mô tả') %>
            </th>
            <th width="5%">
                <%= __('Trạng thái') %> 
            </th>
            <th width="5%">
                <%= __('') %>
            </th>
            </tr>
        </thead>
        <!--END HEADER TABLE-->
    </table>