<table class="table table-bordered table-hover dataTable" id="tblUser">
    <!--START HEADER TABLE-->
    <thead>
        <tr class="bg-custom-primary">
        <th width="20%">
            <%= __('Tên') %>
        </th>
        <th width="15%">
            <%= __('Email') %>
        </th>
        <th width="15%">
                <%= __('Ngày sinh') %> 
        </th>
        <th width="20%">
            <%= __('Số điện thoại') %> 
        </th>
        <th width="25%">
            <%= __('Địa chỉ') %> 
        </th>
        <th width="5%">
            <%= __('') %>
        </th>
        </tr>
    </thead>
    <!--END HEADER TABLE-->
</table>