<%
let action = moduleActive.action;
action = action.replace(/\//g, '-'); //replace '/' by '-';
%>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item <%= ( action == 'backend-dashboard-index' ) ? 'active' : '' %>" >
      <a class="nav-link" href="/backend/dashboard">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title"><%= __('Tổng quan') %></span>
      </a>
    </li>
    <%if(userActive.userType==0){%>
    <li
      class="nav-item <%= ( action == 'backend-producttype-index'||action == 'backend-brand-index' || action == 'backend-product-index' || action == 'backend-product-form') ? 'active' : '' %>">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-controls="tables">
        <i class="mdi mdi-cube menu-icon"></i>
        <span class="menu-title"><%= __('Sản phẩm') %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse <%= (action == 'backend-producttype-index' || action == 'backend-brand-index' || action == 'backend-product-index' || action == 'backend-product-form') ? 'show' : '' %>" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link <%= (action == 'backend-product-index' || action == 'backend-product-form') ? 'active' : '' %>"  href="/backend/product/index">Quản lý sản phẩm</a></li>
          <li class="nav-item"><a class="nav-link <%= (action == 'backend-producttype-index') ? 'active' : '' %>"  href="/backend/producttype/index">Loại sản phẩm</a></li>
          <li class="nav-item"><a class="nav-link <%= (action == 'backend-brand-index') ? 'active' : '' %>"  href="/backend/brand/index">Thương hiệu</a></li>            
        </ul>
      </div>
    </li>
    <%}%>
    <li
      class="nav-item <%= ( action == 'backend-order-index') ? 'active' : '' %>">
      <a class="nav-link" href="/backend/order/index">
        <i class="mdi mdi-border-all menu-icon"></i>
        <span class="menu-title"><%= __('Quản lý đơn hàng') %></span>
      </a>
    </li>
    <li
      class="nav-item <%= ( action == 'backend-customer-index') ? 'active' : '' %>">
      <a class="nav-link" href="/backend/customer/index">
        <i class="mdi mdi mdi-account-settings menu-icon"></i>
        <span class="menu-title"><%= __('Khách hàng') %></span>
      </a>
    </li>
    <li
      class="nav-item <%= ( action == 'backend-order-form') ? 'active' : '' %>">
      <a class="nav-link" href="/backend/order/form">
        <i class="mdi mdi-cart menu-icon"></i>
        <span class="menu-title"><%= __('Bán hàng') %></span>
      </a>
    </li>
     <li
      class="nav-item <%= ( action == 'backend-import-form'||action == 'backend-supplier-index' || action == 'backend-import-index') ? 'active' : '' %>">
      <a class="nav-link" data-toggle="collapse" href="#imports" aria-controls="imports">
        <i class="mdi mdi-truck-delivery menu-icon" ></i>
        <span class="menu-title"><%= __('Nhập hàng') %></span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse <%= (action == 'backend-import-form' || action == 'backend-supplier-index' || action == 'backend-import-index') ? 'show' : '' %>" id="imports">
        <ul class="nav flex-column sub-menu">
          <%if(userActive.userType==0){%>
          <li class="nav-item"><a class="nav-link <%= (action == 'backend-supplier-index') ? 'active' : '' %>"  href="/backend/supplier/index">Nhà cung cấp</a></li> 
          <%}%>
          <li class="nav-item"><a class="nav-link <%= (action == 'backend-import-form') ? 'active' : '' %>"  href="/backend/import/form">Hóa đơn nhập</a></li>   
          <%if(userActive.userType==0){%>
            <li class="nav-item"><a class="nav-link <%= (action == 'backend-import-index') ? 'active' : '' %>"  href="/backend/import/index">Danh sách nhập hàng</a></li> 
          <%}%>      
        </ul>
      </div>
    </li>
    <li
      class="nav-item ">
      <a class="nav-link" href="/backend/chart">
        <i class="mdi mdi-chart-bar menu-icon"></i>
        <span class="menu-title"><%= __('Thống kê') %></span>
      </a>
    </li>
    
  </ul>
</nav>
