<table class="table table-bordered table-hover dataTable" id="tblOrder">
        <!--START HEADER TABLE-->
        <thead>
            <tr class="bg-custom-primary">
            <th width="10%">
                <%= __('Mã đơn hàng') %>
            </th>
            <th width="15%">
                <%= __('Ngày đặt') %>
            </th>
            <th width="20%">
                <%= __('Danh sách sản phẩm') %>
            </th>
            <th width="20%">
                <%= __('Tổng số tiền') %>
            </th>
            <th width="20%">
                <%= __('Tên khách hàng') %>
            </th>
            <th width="20%">
                <%= __('Phương thức thanh toán') %>
            </th>
            <th width="10%">
                <%= __('Trạng thái') %>
            </th>
            <th width="5%">
                <%= __('') %>
            </th>
            </tr>
        </thead>
        <!--END HEADER TABLE-->
    </table>