<% let BACKEND = sails.config.custom.BACKEND %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/select2/select2.css">') %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/formvalidation/formValidation.css">') %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/dropify/dropify.min.css">') %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/select2/select2.min.css">') %>
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= __('Danh sách đơn hàng') %></h4>
    <div class="row">
      <div class="col-md-12 grid-margin d-flex justify-content-between">
        <div>
          <div class="dropdown float-left md-3">
          </div>
            </div>
            <ul class="nav">
              <li class="nav-item" role="presentation">
                <a class="nav-link <% if(status == -1) {%> active <% } %>" href="?status=">
                <%= __('Tất cả') %>
                <span class="badge badge-pill <%=(status == -1)? 'badge-primary':'badge-outline-primary' %>">
                  <%= total %>
                </span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link <% if(status == 0) {%> active <% } %>" href="?status=0">
                  <%= __('Chờ xác nhận') %>
                  <span class="badge badge-pill <%=(status == 0)? 'badge-primary':'badge-outline-primary' %>">
                    <%= totalUnapproved %>
                  </span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link <% if(status == 1) {%> active <% } %>" href="?status=1">
                  <%= __('Đang giao') %>
                  <span class="badge badge-pill <%=(status == 1)? 'badge-primary':'badge-outline-primary' %>">
                    <%= totalApproved %>
                  </span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link <% if(status == 2) {%> active <% } %>" href="?status=2">
                  <%= __('Hoàn thành') %>
                  <span class="badge badge-pill <%=(status == 2)? 'badge-primary':'badge-outline-primary' %>">
                    <%= totalDone %>
                  </span>
                </a>
              </li>
            </ul>
            <div class="md-3">
            </div>
      </div>
      <div class="col-md-12 grid-margin d-flex justify-content-between">
        <div class="table-responsive">
            <%- partial('./_list.ejs') %>
        </div>
      </div>
    </div>
  </div>
</div>




<% block('localScripts', '<script src="/vendors/select2/select2.full.min.js"></script>') %>
<% block('localScripts', '<script src="/vendors/formvalidation/formValidation.min.js"></script>') %>
<% block('localScripts', '<script src="/vendors/formvalidation/framework/bootstrap4.min.js"></script>') %>
<% block('localScripts', '<script src="/js/backend/order/index.js"></script>') %>
<% block('localScripts', '<script src="/vendors/sweetalert/sweetalert.min.js"></script>') %>
<% block('localScripts', '<script src="/vendors/select2/select2.js"></script>') %>
